expiry: 3m
alertmanager_endpoints:
  - http://localhost:9093
expected:
  - match_labels:
      alertname: Watchdog
    expiry: 6m
    alert:
      name: PrometheusAlertFailure
      labels:
        severity: critical
        owner: sre
        service: monitoring
        component: prometheus
      annotations:
        runbook: https://example.org/prometheus-alert-failure
        description: |
          This alert fires when the \"Watchdog\" alert fails to be received
          from a prometheus instance.
          It could indicate that the prometheus instance is not running, or
          that there is a configuration issue with prometheus or alertmanager.
